.link {
  font: {
    family: serif;
    size: 15px;
  }
  a {
    &:visited {
      color: purple;
    }
    &:hover {
      color: red;
    }
  }
}

h3 {
  margin: 10px;
  font: bold 25px serif;
  text-align: center;
}